# Server Configuration
PORT=5000

# MongoDB Configuration
MONGODB_URI=mongodb+srv://STUNNA:Goodyyyyy@cluster0.cdyl9vp.mongodb.net/stunfi_saas?retryWrites=true&w=majority

# Cloudinary Configuration (REQUIRED - All media is stored in Cloudinary)
# Get your credentials from: https://cloudinary.com/console/settings/api-keys
CLOUDINARY_CLOUD_NAME=bxmuj9jk
CLOUDINARY_API_KEY=597839432764732
CLOUDINARY_API_SECRET=0medU4-rSenNvmqJ0qGzrpndgtE

# Frontend Configuration
FRONTEND_URL=http://localhost:3000
